.home{
    margin:0 auto;
    width: 45rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    background-image: linear-gradient(to top, $color-primary-dark, $color-primary-light);
    padding: 2rem 3rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .2);
    font-size: 1.8rem;
    animation: moveInTop 1s ease-out;

    margin-top: 9rem;

    &__background{
    }

    &__title{

    }

    &__description{
        text-align: left;
        margin-top: 1rem;
    }
}